 /*@import url('https://fonts.googleapis.com/css?family=Raleway');
 @import url('https://fonts.googleapis.com/css?family=Oswald');*/
*{
    margin: 0;
    padding: 0;
    /* -webkit box sizing:border box; */
    
    
}
.divtop{
    height: 48px;
    width: 100%;
    background-color: #316DC3;
}
.mainheader{
    height: 48px;
    width: 90%;
    /* margin-left: 60px; */
    /* background-color: green; */
    display: inline-block;
    position: relative;
    left: 50px;
}
.s-m{
    list-style-type: none;
    position: absolute;
    top:3px ;
    left: 10px;
    height:38px ;
    width: 212.5px;
    display: inline-block;
}
.s-m li{
    display: inline-block;
    height: 32px;
    width: 37px;
    position: relative;
    bottom: 3px;
}
li a{
    display: inline;
    width: 30px;
    height: 30px;
    margin: 1.9px 0px;
}
img{
    height: 13px;
    width: 12px;
    margin: 8px 0px;
}
img#wapps{
    height: 20px;
    width: 20px;
    position: relative;
    top: 2px;
    left: ;
}
img#fbs{
    height:15px ;
    width:15px ;
}
img#twts{
    height: 13px;
    width: 12.08px;
}
img#instas{
    height: 11px;
    width: 11px;
}
img#yts{
    height: 13px;
    width: 12.08px;
}
.divpra{
    display: inline-block;
    height: 25px;
    width: 527px;
    position: absolute;
    top: 14px;
    left: 340px;
    color:#FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;  
}
.btns{
    display: inline-block;
    float: right;
    margin-top: 11px;
    /* height: 40px; */
    /* margin-right: px; */
}
.a2{
    background-color:#ffffff;
    padding: 7px 10px;
    color:#427900;
    font-size:11px ;
    font-family: 'Open Sans', sans-serif;
    margin-left: 2px;
    display: inline-block;
    text-decoration: none;
    color: #333333;
}
.header{
    /* height:70.4pxpx ; */
    width:100%;
    background-color:#f7f8fa ;
    /* background: yellow; */
    display: inline-block;
    position: absolute;
    top:48px;
    left: 0px;
} 
.header2{
     height:100px ;
     width:100%;
     position: fixed;
     /* top: 5px;
     left: 0px; */
     background-color:#F0F1F3;
     /* display: flex; */
     display: inline-block;
     margin-left:0px ;
     z-index: 9999;
}
/* #headerok{
    position: fixed;
} */
.logo{
    height:51px ;
    width: 191.11px;
    position: relative;
    left:20px ;
    float: left;
}
/* .u1{
    height: 50px;
    width: 660px;
     background: #333333;
    float: right;
     display: inline; 
    position: relative;
    top: 9px;
    right: 40px;
    display: inline;
    list-style-type: none;
}
.u1 .l1{
    display: inline;
}
.u1 .l1 .a1{
    display: inline;
} */
.menu-bar{
    z-index: 9999;
    width: 57%;
    height: 45px;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right:70px;
    font-family: "open sans" , sans-serif;
}
#maind{
    text-align: center;
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#maind li{
    display: inline-block;
    position: relative;
    top: 7px; 
    padding: 6px 2px;
}
#maind li a{
    text-decoration: none;
    padding: 8px 16px;
    color: #333333;
    font-size: 13px;
}
#maind li a.active{
    background: #316Dc3;
    width: 200px;
    height: 34px;
    border-radius: 20px 20px;
    color: white;
}
#maind li:hover{
    border-radius: 40px 40px;
    background: #316dc3;
    padding: 6px 2px;
    
}
#maind li a:hover{
    color: white;
    transition:10s transform;
}
#maind li ul{
    padding: 0px;
    position:absolute;
    top: 32px;
    left: 0;
    display: none;
    visibility: hidden;
    text-align: left;
}
#maind li ul li{
    background:white;
    display: block;
    border-radius: 0px;
}
#maind li ul li:hover{
    background: #316dc3; 
    border-radius: 0px;
}
#maind li ul li a:hover{
    color:white; 
}
#maind li:hover ul{
    display: block;
    opacity: 1;
    visibility: visible;
    color:white; 
}
#maind ul ul li{
    display: none;
}
#maind ul li:hover li{
    display: block;
    color:white; 
}
#maind ul ul{
    left: 100%;
    top: 0;
}
.aul{
    width: 180px;
}
.say{
    width: 210px;
}
.ful{
    width: 180px;
}
.dul{
    width: 142px;
    position: absolute;
    right: 50px;
}
.eul li{
    width: 200px;
}
.smtg{
    width: 50px;
    
}
.mul{
    width: 311px;
    
}
.wul{
    width: 138px;
    
}
.qul{
    width: 198px;
    
}
.rul{
    width: 148px;
}
#newi{
    height: 8px;
    width: 8px;
    margin: 2px 0px;
}
#imp{
    height: 500px;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
    margin-top: 90px;
}
img{
    height: 500px;
    width: 100%;
}
.mainsc{
    height: 699px;
    width: 100%;
    /* background: green; */
    position: relative;
    top: 621px;
}
.mainduv{
    height: 549px;
    width: 70%;
    /* background: pink; */
    
    display: block;
    position: relative;
    top: 80px;
    left: 180px;
}
.spra{
    margin: 0px 0px 10px;
    text-align: justify;
    font-size: 16px;
}
h2 img,#imppi {
    height: 40px; 
    width: 40px;
    position: relative;
    left: 5px;
}
.mainsc1{
    height:300px;
    width:100%;
    position: relative;
    top:621px ;
    background-color: #2655E8;
    

    
}
.bdiv{
    display: inline-block;
    /* background: red; */
    position: relative;
    top: 40px;
    left: 30px;
    padding: 20px 18px;
    text-align: center;
    color: white;
    font-family:'Merriweather', serif
}
.mainsec2{
    height: 560px;
    width: 100%;
    background: #F0F1F3;
    position: relative;
    top: 621px;
    color: white;
}
.bdiv2{
    display: inline-block;
    margin: 15px 17px;
    text-align: center;
    padding: 30px;
    box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border: 1px  grey;
    
    
}
.yoyo{
    height: 415px;
    width: 95.50%;
    margin-left: 30px;
    color: #666666;
}
.mainsec3{
    height: 370px;
    width: 100%;
    /* background:#FFFFFF; */
    /* background: green; */
    position: relative;
    top: 621px;
}
.okdiv{
    height: 290px;
    width: 95%;
    position: absolute;
    margin: 30px;


}
.bdivok{
    display: inline-block;
    height: 32px; 
    width: 30%; 
    color: #316dc3;
    width: 49%;
    height: 74px;
    background: #F0F1F3;
    margin: 20px 0px;
    padding: 18px;
    font-weight: 600;
    /* box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); */
    /* position: relative;
    top: 5px; */
}
.devin{
    height: 250px;
    width: 67%;
    /* background: orchid; */
    padding: 0px 15px;
    float: left;
}
.devin2{
    display: inline-block;
    /* float: right; */
    height: 280px;
    width: 390px;
    /* background: red; */
    /* position: relative;
    text-outline: 900px; */
    /* margin-left: 10px; */
    
    color: #333333;
}
.dupr{
    height: 480px;
    width: 100%;
    /* background: grey; */
    position: relative;
    top: 620px;
}
.dsb{
     /* display: inline-block; */
    height: 325px;
    width: 94%;
    /* background:pink; */
    position: absolute;
    margin: 40px 35px;
    
}
.fh{
    color: #666666;
    /* background: red; */
    text-align: center;
}
.dg{
    /* background: green; */
    /* display: inline-block; */
    height: 220px;
    width: 100%;

}
.dgi{
    /* background: greenyellow; */
    height: 215px;
    width: 19.15%;
    display: inline-block;
    position: relative;
    left: 2px;
    margin: 4.1px 3px;
}
.dgi img{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    height:215px ; 
    width:0 auto;
    
}
.dgi img:hover{
    transform: scale(2,2);
    transition:3s transform;
    z-index: 9999;
}
.frdiv{
    height: 402.25px;
    width: 100%;
    background-color:purple;
    /* display: block; */
    position: relative;
    top: 620px;
    /* left: 300px; */
}
.frdiv1{
    height: 358px;
    width: 100%;
    background: rgb(37, 39, 46);
    /* display:inline-block; */
}
.subfrdiv{
    height: 250px;
    width: 30%;
    /* background-color: green; */
    display: inline-block;
    position: relative;
    left: 14px;
    top: 80px; 
    margin: 24px 15px;
    color: #BBBB;
}
.subfrdiv2{
    height: 61px;
    width: 30%;
    /* background-color: green; */
    display: inline-block;
    position: relative;
    bottom: 132px;
    left: 14px; 
    margin: 24px 15px;
    color: #666666;
    font-size: 18px;
}
.subfrdiv3{
    height: 95px;
    width: 30%;
    /* background-color: pink; */
    display: inline-block;
    position: relative;
    bottom: 90px;
    left: 14px; 
    margin: 24px 15px;
    color: #666666;
    font-size: 18px;
}
.lsul{
    list-style-type: none;
    display: inline;
}
.frdiv2{
    height: 49px;
    width: 100%;
    background:#316dc3;
    color: #FFFFFF;
}
.lpra{
    color: #FFFFFF;
    position: absolute;
    margin: 15px 30px;
    font-size: 13px;
}
.hspc:before{
    content:'';
    border:1px solid #427900;
    border-radius: 5px;
    height: 150x;
    width: 50px;
    position: absolute;
    margin-top: 40px;
    
}

.hspc3:before{
    content:'';
    border:1px solid #427900;
    border-radius: 5px;
    height: 150x;
    width: 50px;
    position: absolute;
    position: absolute;
    margin-top: 30px;
}
.upra{
    background-color: grey;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 850px;
    left: 1150px;
    background:linear-gradient(rgba(0,0,0.5),rgba(0,0,0,0.5));
    position: fixed;
}